<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Ransomware Detector</title>
    {% load static %}
  </head>
  <body
    style="
      background-image: url('{% static 'images/coverpage.png' %}');
      background-size: 100vw 100vh;
      background-repeat: no-repeat;
    "
  >
    <br />
    <br />
    <br />
    <!--<br>-->
    <!--<h1 style="color:cyan;text-decoration: underline;">Ransomware Detection and Behavioral Analysis </h1>-->
    <a
      style="
        float: right;
        font-size: 30px;
        color: lightyellow;
        margin-top: 20px;
      "
      href="/login"
      >Login
    </a>
    <br />
    <br />
  </body>
</html>
